<h1>Consulting Services</h1>

<div class="container d-flex flex-row justify-content-center align-items-center flex-wrap">
  <% @services.each do |service| %>
    <div class="col-12 col-md-6 col-lg-3">
      <h2><%= service.name %></h2>
      <h3><%= service.description %></h3>
      <h3><%= service.address %></h3>
      <h3><%= service.rate_per_day %></h3>
      <%= link_to "", service_path(service), class: 'card-link' %>
    </div>
  <% end %>
  <p><%= link_to "New Service", new_service_path, class: "btn btn-primary"%></p>
  <p><%= link_to "New User Sign Up", new_user_registration_path, class: "btn btn-primary"%></p>
</div>
