

<div class="container">
  <h1>My Service</h1>
    <div>
      <img src="https://picsum.photos/1000/400" alt="">
      <h2><%= @service.name %></h2>
      <h4><%= @service.category %></h4>
      <p><%= @service.address %></p>
      <p><%= @service.description %></p>
      <h4><%= @service.rate_per_day %>€ / Day</h4>
    </div>
  <p><%= link_to "Request Offer", new_service_service_request_path(@service), class: "btn btn-flat"%></p>
  <p><%= link_to "All Services", services_path, class: "btn btn-support"%></p>
</div>
