<div class="container">

  <h1 class="text-center">The requests I received</h1>
  <div id="listReceivedRequests" class="d-flex flex-row justify-content-center align-items-center flex-wrap">
  <% @service_requests.each do |request| %>
    <div class="card-service-hidden">
      <div class ="card-service-infos">
        <!-- TODO: LINK THE IMAGE OF THE USER ASKING THE REQUEST -->
        <%= cl_image_tag request.user.profile_picture %>
        <h3> <%= request.time_frame %></h3>
        <p><%= request.description %></p>
        <div class="icons d-flex flex-row justify-content-center align-items-center flex-wrap">
          <%= link_to "#", method: :patch, data: { confirm: "Request accepted!" } do %>
          <i class="fas fa-check"></i>
          <% end %>
          <%= link_to "#", method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fas fa-times"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  <div class ="btn-service">
  <p><%= link_to "Back to all the services", services_path, class: 'btn-flat'%></p>
  </div>
</div>


