<div class="container">

  <h1 class="text-center">The services I offer</h1>
  <div id="listReceivedRequests" class="d-flex flex-row justify-content-center align-items-center flex-wrap">
    <% @services.each do |service| %>
      <div class="card-service-hidden">
        <div class ="card-service-infos">
          <div class ="d-flex flex-column justify-content-center align-items-center flex-wrap">
            <h2><strong><%= service.category %></strong></h2>
            <h3><strong>€<%= service.rate_per_day %>/day</strong></h3>
            <p><%= service.description %></p>
            <div class="icons d-flex flex-row justify-content-center align-items-center flex-wrap">
              <% if policy(service).edit? %>
                <%= link_to edit_service_path(service.id), data: { confirm: "To Update?" }  do %>
                  <i class="fas fa-edit"></i>
                <% end %>
              <% end %>
              <% if policy(service).destroy? %>
                <%= link_to service_path(service.id), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <p><%= link_to "Back to all the services", services_path, class: 'btn-flat'%></p>
</div>
